/* Reset CSS */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #444;
  color: #999;
  
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}



/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Containers */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

#roll {
  padding: 10px 30px;
  font-size: 25pt;

}
.title, .score {
  display: inline-block;
  border: 2px red solid;
  min-height: 30px;
  min-width: 50px;
  vertical-align: bottom;
  padding: 10px;
}

.dice {
  background-color: lightcoral;
  border: 5px black solid;
  border-radius: 10px;
  color: black;
  font-size: 25pt;
  padding: 25px;
  margin: 25px;
}

.held {
  border: 10px blue solid;
}

.dice-container {
  display: inline-block;
}

.scoresheet {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

/* Grid Layout */
.row {
  display: block;
  background-color: white;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 1;
  padding: 0 10px;
}

.title {
  width: 150px;
}

.score {
  width: 75px;
  height: 50px;
  cursor:pointer;
}

.score:hover {
  background-color: aqua;
}

.filled-in { /* styling for when score has been recorded in score box*/
  background-color: white;
  cursor:not-allowed;
}

.filled-in:hover {
  background-color: white;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Add responsive styles here */
}
