/* Reset CSS */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;

  
}

/* Body Styles */
body {
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
  background-color: black;
  color: black;

}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

header {
  text-align: center;
  color: #444;
  background-color: aqua;
  font-size: 200%;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Containers */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

#roll {
  padding: 10px 160px;
  font-size: 25pt;
}

#roll:hover {
  cursor: pointer;
}

.title, .score, .total, .bonus {
  display: inline-block;
  border: 2px red solid;
  min-height: 20px;
  min-width: 180px;
  vertical-align: bottom;
  padding: 10px;
}

.dice {
  background-color: black;
  border: 5px black solid;
  border-radius: 10px;
  color: black;
  font-size: 25pt;
  padding: 5px;
  margin: 35px 110px;
  text-align: center;
  max-width: 150px;
  max-height: 150px;
}

.dice img {
  border-radius: 30px;
}

.dice:hover {
  background-color: coral;
  border: 8px darkgrey solid;
  cursor: pointer;
}

.dice2and3 {

}

.dice4and5 {

}

.held {
  border: 15px blue solid;
}

.activated {
  background-color: gold;
}

.dice-container {
  display: inline-block;
  position: absolute;
  left: 45%;
}

.scoresheet {
  display: inline-block;
  margin-right: 50px;
  margin-left: 100px;
}

/* Grid Layout */
.row {
  display: block;
  background-color: white;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 1;
  padding: 0 10px;
}

.title {
  width: 150px;
  text-align: center;
}

.score, .total, .bonus {
  width: 75px;
  height: 50px;
  cursor:pointer;
}

.score:hover {
  background-color: aqua;
}

.filled-in { /* styling for when score has been recorded in score box*/
  background-color: coral;
  cursor:not-allowed;
}

/*.filled-in:hover {*/
/*  background-color: coral;*/
/*}*/

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Add responsive styles here */
}
